
.menuBar {
  position: absolute;
  z-index: 2;
  width: 80%;
  top: 10em;
  margin: 0 9.4%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2f3e45;
}
.menuBar li {
  float: left;
  width: 20%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-family: "Lobster",cursive;

}

li a:hover, .dropdown:hover .dropbtn{
  background-color: rgb(255, 144, 96);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 144, 96);
  width: 20%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #2f3e45;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.is-sticky {
    width: 81%;
}
